<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transaction Information</title>
  </head>
  <body data-th-object="${transaction}">
    <h1>Your transaction information</h1>
    <p data-th-text= "'Your transfer of $' + *{amount} + ' from ' + *{fromAcc} + ' ' + *{fromId} + ' to ' + *{toId} + *{toAcc} + 'is successful.'"</p>
    <br />
    <br />
    <p data-th-text="'Transaction id is ' +  *{transactionId}"></p>
    
  </body>
</html>
